<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Learners_Academy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.learners.servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>RegistrationFilter</display-name>
    <filter-name>RegistrationFilter</filter-name>
    <filter-class>com.learners.filters.RegistrationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RegistrationFilter</filter-name>
    <url-pattern>/RegistrationFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RegistrationFilter</filter-name>
    <servlet-name>RegistrationServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.learners.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.learners.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>LoginServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ClassServlet</display-name>
    <servlet-name>ClassServlet</servlet-name>
    <servlet-class>com.learners.servlet.ClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassServlet</servlet-name>
    <url-pattern>/ClassServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ClassFilter</display-name>
    <filter-name>ClassFilter</filter-name>
    <filter-class>com.learners.filters.ClassFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ClassFilter</filter-name>
    <url-pattern>/ClassFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ClassFilter</filter-name>
    <servlet-name>ClassServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectServlet</display-name>
    <servlet-name>SubjectServlet</servlet-name>
    <servlet-class>com.learners.servlet.SubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectServlet</servlet-name>
    <url-pattern>/SubjectServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SubjectFilter</display-name>
    <filter-name>SubjectFilter</filter-name>
    <filter-class>com.learners.filters.SubjectFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SubjectFilter</filter-name>
    <url-pattern>/SubjectFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SubjectFilter</filter-name>
    <servlet-name>SubjectServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherServlet</display-name>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>com.learners.servlet.TeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/TeacherServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>TeacherFilter</display-name>
    <filter-name>TeacherFilter</filter-name>
    <filter-class>com.learners.filters.TeacherFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TeacherFilter</filter-name>
    <url-pattern>/TeacherFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>TeacherFilter</filter-name>
    <servlet-name>TeacherServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.learners.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>StudentFilter</display-name>
    <filter-name>StudentFilter</filter-name>
    <filter-class>com.learners.filters.StudentFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StudentFilter</filter-name>
    <url-pattern>/StudentFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>StudentFilter</filter-name>
    <servlet-name>StudentServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AssignServlet</display-name>
    <servlet-name>AssignServlet</servlet-name>
    <servlet-class>com.learners.servlet.AssignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignServlet</servlet-name>
    <url-pattern>/AssignServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AssignFilter</display-name>
    <filter-name>AssignFilter</filter-name>
    <filter-class>com.learners.filters.AssignFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AssignFilter</filter-name>
    <url-pattern>/AssignFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AssignFilter</filter-name>
    <servlet-name>AssignServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ReportServlet</display-name>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>com.learners.servlet.ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportServlet</servlet-name>
    <url-pattern>/ReportServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ReportFilter</display-name>
    <filter-name>ReportFilter</filter-name>
    <filter-class>com.learners.filters.ReportFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ReportFilter</filter-name>
    <url-pattern>/ReportFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ReportFilter</filter-name>
    <servlet-name>ReportServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.learners.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>DeleteFilter</display-name>
    <filter-name>DeleteFilter</filter-name>
    <filter-class>com.learners.filters.DeleteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DeleteFilter</filter-name>
    <url-pattern>/DeleteFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DeleteFilter</filter-name>
    <servlet-name>DeleteServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.learners.servlet.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
</web-app>